{% extends 'quotes/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <h2 class="mb-3">Случайная цитата</h2>
        <p>Просмотров страницы: {{ page_views }}</p>

        {% if quote %}
            <div class="--card">
                <div class="--card-body">
                    <blockquote class="blockquote mb-0">
                        <p>"{{ quote.text }}"</p>
                        <footer class="blockquote-footer">{{ quote.source }}</footer>
                    </blockquote>
                </div>
            </div>

            <p class="mt-3">
                Просмотров этой цитаты: <span class="badge bg-secondary">{{ quote.views }}</span> |
                Лайки: <span class="badge bg-success">{{ quote.likes }}</span> |
                Дизлайки: <span class="badge bg-danger">{{ quote.dislikes }}</span>
            </p>
            <div style="margin-top: 20px;">  <!-- Небольшой отступ сверху -->
                <form action="{% url 'like_quote' quote.id %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success"><img src="{% static 'quotes/img/hand-thumbs-up-fill.svg' %}" class="like-btn">Лайк</button>
                </form>

                <form action="{% url 'dislike_quote' quote.id %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><img src="{% static 'quotes/img/hand-thumbs-down-fill.svg' %}" class="dislike-btn"> Дизлайк</button>
                </form>
            </div>
            

        {% else %}
            <div class="alert alert-info" role="alert">
                В базе пока нет ни одной цитаты. <a href="{% url 'create_quote' %}" class="alert-link">Добавьте первую!</a>
            </div>
        {% endif %}
    </div>
{% endblock %}