{% extends 'quotes/base.html' %}
{% block title %} ТОП-10 ЦИТАТ {% endblock %}

{% block content %}
    <div>
        <h2>{{ title|default:'Топ-10 цитат'}}</h2>
        <hr>
        <div class="d-flex justify-content-start gap-2 my-4">
            <a href="{% url 'top' %}?sort=likes"
               class="btn {% if current_sort == 'likes' %} btn-primary {% else %} btn-outline-primary {% endif %}">
               По Лайкам
            </a>
            <a href="{% url 'top' %}?sort=dislikes"
               class="btn {% if current_sort == 'dislikes' %} btn-primary {% else %} btn-outline-primary {% endif %}">
               По Дизлайкам
            </a>
            <a href="{% url 'top' %}?sort=views"
               class="btn {% if current_sort == 'views' %} btn-primary {% else %} btn-outline-primary {% endif %}">
               По просмотрам
            </a>
            <a href="{% url 'top' %}?sort=newest"
               class="btn {% if current_sort == 'newest' %} btn-primary {% else %} btn-outline-primary {% endif %}">
               По дате добавления
            </a>
        </div>


        <ol> 
        {% for quote in quotes %}
            <li style="margin-bottom: 30px;">
                <div class="--card">
                    <div class="--card-body">
                        <blockquote class="blockquote mb-0">
                            <p>"{{ quote.text }}"</p>
                            <footer class="blockquote-footer">{{ quote.source }}</footer>
                        </blockquote>
                    </div>
                </div>

                <p class="mt-2"> 
                    Просмотров: <span class="badge bg-secondary">{{ quote.views }}</span> |
                    Лайки: <span class="badge bg-success">{{ quote.likes }}</span> |
                    Дизлайки: <span class="badge bg-danger">{{ quote.dislikes }}</span>
                </p>

                <div>
                    
                    <form action="{% url 'like_quote' quote.id %}?next={{ request.path }}?sort={{ current_sort}}" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-success">👍 Лайк</button> 
                    </form>

                    <form action="{% url 'dislike_quote' quote.id %}?next={{ request.path }}?sort={{ current_sort}}" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">👎 Дизлайк</button>
                    </form>
                </div>
            </li>
        {% empty %}
            <div class="alert alert-info" role="alert">
                В базе пока нет ни одной цитаты с лайками. 
                <a href="{% url 'create_quote' %}" class="alert-link">Добавьте новую цитату</a> или 
                <a href="{% url 'random_quote' %}" class="alert-link">проголосуйте за существующие</a>!
            </div>
        {% endfor %}
        </ol>

    </div>
{% endblock %}